.fot{
    list-style-type: none !important;
    color: #777 !important;
}

li.mg{
    margin-top: 10px !important;
}

.acti{
    color: #333 !important;
}

@media (max-width: 700px){
    .table thead {
    display: none;
    }
    
    .table tr{
    display: block;
    margin-bottom: 40px;
    }
    
    .table td {
    display: block;
    text-align: right;
    }
    
    .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
    }