{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Bienvenue sur le site officiel du Prophète
{% endblock title %}


{% block navbar %}

 
        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-trans-dark trans-helper navbar-static-top mega">
            <div class="container" style="min-width: 93% !important;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
  
                <!-- Logo -->
                <!-- <a class="navbar-brand log" href=""><img src="{% static 'images/logo.png" alt="Definity - Logo"></a>  -->
              </div><!-- / .navbar-header -->
  
              <!-- Navbar Links -->
              <div id="navbar" class="navbar-collapse collapse navr" >
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="accueil"><button class="btn-text btn-small" style="width: 176px;padding-right: 2px;padding-left: 2px;margin-top: 6px; margin-right: 35px; "> philippekacou.org</button></a>
                      </li>
                  
                  <!-- Accueil -->
                  <li class="dropdown mg">
                    <a href="accueil" class="dropdown-toggle" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Accueil</a>
                  <!-- / .dropdown-menu -->
                  </li>
                  <!-- / Accueil -->
                  
  
                  <!-- Prédications -->
                  <li class="dropdown mg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Prédications<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="predications-lists">Prédications écrites</a></li>
                      <li><a href="predications-lists">Prédications audios</a></li>
                      <li><a href="predications-lists">Prédications vidéos</a></li>
        
                    </ul>
                  </li>
                  <!-- / Prédications -->
  
  
                  <!-- Médias -->
                  <li class="dropdown mg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Médias<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="presses-lists">Presse écrites</a></li>
                      <li><a href="emissions-radio">Emission radio</a></li>
                      <li><a href="emissions-tv">emissions-tv</a></li>
        
                    </ul>
                  </li>
                  <!-- / Médias -->
  
  
                  <!-- Galerie -->
                  <li class="dropdown mega-fw mg">
                    <a href="galeries" class="dropdown-toggle"  data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Galérie</a>
                  <!-- / .dropdown-menu -->
                  </li><!-- / Galerie -->
  
                  <!-- Ressources -->
                  <li class="dropdown mg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Ressources<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="temoignages">Témoignages</a></li>
                      <li><a href="actualites-lists">Actualités</a></li>
                      <li><a href="pepites">Les pépites d'or</a></li>
                      <li><a href="aides">Aides pour la lectures</a></li>
                      <li><a href="logiciels">Logiciels</a></li>
        
                    </ul>
                  </li>
                  <!-- / Ressources -->
  
                   <!-- Adorations -->
                   <li class="dropdown mg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Adorations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="louanges">Louanges</a></li>
                      <li><a href="melodies">Mélodies</a></li>
                  
        
                    </ul>
                  </li>
                  <!-- / Adorations -->
  
                  <!-- Le monde -->
                  <li class="dropdown mega-fw mg">
                    <a href="mondes" class="dropdown-toggle"  data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Le cri de minuit dans monde</a>
                  <!-- / .dropdown-menu -->
                  </li>
                  <!-- / Le monde -->
  
                  <!-- Contacts -->
                  <li class="dropdown mg">
                    <a href="contacts" class="dropdown-toggle"  data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Contacts</a>
                  <!-- / .dropdown-menu -->
                  </li>
                  <!-- / Contacts -->
                
                 
                </ul>
                <!-- / .nav .navbar-nav -->
                
  
                <!-- Navbar Links Right -->
                <ul class="nav navbar-nav navbar-right" >
                  <li class="dropdown mg">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">FR<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="">EN</a></li>
                      <li><a href="">ES</a></li>
                      <li><a href="">PT</a></li>
                  
        
                    </ul>
                  </li>
  
                  <!-- Languages -->
                  
                  <!-- / Languages -->
  
                </ul><!-- / .nav .navbar-nav .navbar-right -->
  
              </div><!--/.navbar-collapse -->
            </div><!-- / .container -->
          </nav><!-- / .navbar -->

          
{% endblock navbar %} 



{% block content %}

<div id="home" class="main-demo-hero">
    <div class="bg-overlay">
                      
      <!-- Hero Content -->
      <div class="hero-content-wrapper">
        <div class="hero-content">
          
          <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Le cri de minuit<br> à retentit</h1>
          <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Prophète Kacou Philippe</h4>
          <a href="predications-lists" class="btn wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Les prédications</a>

        </div>
      </div>

      <!-- Scroller -->
      <a href="#welcome" class="scroller scroller-dark">
        <span class="scroller-text">Défiler</span>
        <span class="linea-basic-magic-mouse"></span>
      </a>

    </div><!-- / .bg-overlay -->
  </div><!-- / .main-hero-2 -->



  <!-- ========== About ========== -->

  <section id="welcome" class="container">
    <div class="row">

      <div class="ws-l"></div>
      
      <header class="sec-heading">
        <h2>Bienvenue sur le site officiel du Prophète KAcou Philippe</h2>
        <span class="subheading">Les paroles de la vie éternelle aujourd'hui</span>
      </header>

      <div class="col-md-offset-2 col-md-8 text-center ws-m" style="padding-bottom: 50px;">
        <p>Comme les prophètes de la Bible, en avril 1993, un homme qui n'avait jamais été dans une église reçoit en vision, la visitation d'un Ange qui le commissionne pour un Message destiné au Salut de l'humanité en accomplissement de <strong>Matth.25:6</strong>  et d' <strong>Apoc.12:14</strong>.</p>
      </div>

      <div class="col-md-12">
        <img class="img-responsive wow fadeIn center-block" data-wow-duration="2s" src="{% static 'images/philippe.jpeg' %}" alt="" style="max-width: 400px;">
      </div>

    </div><!-- / .row -->
  </section><!-- / .section -->



 


  


  <!-- ========== Blog Preview ========== -->

  <div class="gray-bg">
    <section id="blog" class="section container blog-columns blog-preview">
      <div class="row">
        
        <header class="sec-heading">
          <h2>Actualités</h2>
          <span class="subheading">Le message du Prophète Kacou Philippe</span>
        </header>

        
        <!-- Blog Post 1 -->
        <div class="col-md-3 col-md-6 mb-sm-50">
          <div class="blog-post wow fadeIn" data-wow-duration="2s">

            <!-- Image -->
            <a href="predications-ecrites-details.html" class="post-img"><img src="{% static 'images/couv.png' %}" alt="Blog Post 1"></a>

            <div class="bp-content">
              
              <!-- Meta data -->
              <div class="post-meta">
                <a href="#" class="post-date">
                  <i class="fa fa-calendar-o"></i>
                  <span>20 Juillet 2022</span>
                </a>
                
              </div><!-- / .meta -->

              <!-- Post Title -->
              <a href="predications-details" class="post-title"><h4>KACOU 152</h4></a>

              <!-- Blurb -->
              <p>KACOU 152 : LES DERNIÈRES PAROLES DE KACOU PHILIPPE À...</p>

              <!-- Link -->
              <a href="predications-details" class="btn btn-small">Lire la suite</a>

            </div><!-- / .bp-content -->

          </div><!-- / .blog-post -->
        </div><!-- / .col-lg-4 -->

        <!-- Blog Post 1 -->
        <div class="col-md-3 col-md-6 mb-sm-50">
            <div class="blog-post wow fadeIn" data-wow-duration="2s">
  
              <!-- Image -->
              <a href="predications-ecrites-details.html" class="post-img"><img src="{% static 'images/couv.png' %}" alt="Blog Post 1"></a>
  
              <div class="bp-content">
                
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>20 Juillet 2022</span>
                  </a>
                  
                </div><!-- / .meta -->
  
                <!-- Post Title -->
                <a href="predications-details" class="post-title"><h4>KACOU 152</h4></a>
  
                <!-- Blurb -->
                <p>KACOU 152 : LES DERNIÈRES PAROLES DE KACOU PHILIPPE À...</p>
  
                <!-- Link -->
                <a href="predications-details" class="btn btn-small">Lire la suite</a>
  
              </div><!-- / .bp-content -->
  
            </div><!-- / .blog-post -->
          </div><!-- / .col-lg-4 -->

          <!-- Blog Post 1 -->
        <div class="col-md-3 col-md-6 mb-sm-50">
            <div class="blog-post wow fadeIn" data-wow-duration="2s">
  
              <!-- Image -->
              <a href="predications-ecrites-details.html" class="post-img"><img src="{% static 'images/couv.png' %}" alt="Blog Post 1"></a>
  
              <div class="bp-content">
                
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>20 Juillet 2022</span>
                  </a>
                  
                </div><!-- / .meta -->
  
                <!-- Post Title -->
                <a href="predications-details" class="post-title"><h4>KACOU 152</h4></a>
  
                <!-- Blurb -->
                <p>KACOU 152 : LES DERNIÈRES PAROLES DE KACOU PHILIPPE À...</p>
  
                <!-- Link -->
                <a href="predications-details" class="btn btn-small">Lire la suite</a>
  
              </div><!-- / .bp-content -->
  
            </div><!-- / .blog-post -->
          </div><!-- / .col-lg-4 -->


          <!-- Blog Post 1 -->
        <div class="col-md-3 col-md-6 mb-sm-50">
            <div class="blog-post wow fadeIn" data-wow-duration="2s">
  
              <!-- Image -->
              <a href="predications-ecrites-details.html" class="post-img"><img src="{% static 'images/couv.png' %}" alt="Blog Post 1"></a>
  
              <div class="bp-content">
                
                <!-- Meta data -->
                <div class="post-meta">
                  <a href="#" class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span>20 Juillet 2022</span>
                  </a>
                  
                </div><!-- / .meta -->
  
                <!-- Post Title -->
                <a href="predications-details" class="post-title"><h4>KACOU 152</h4></a>
  
                <!-- Blurb -->
                <p>KACOU 152 : LES DERNIÈRES PAROLES DE KACOU PHILIPPE À...</p>
  
                <!-- Link -->
                <a href="predications-details" class="btn btn-small">Lire la suite</a>
  
              </div><!-- / .bp-content -->
  
            </div><!-- / .blog-post -->
          </div><!-- / .col-lg-4 -->


    

       


      </div><!-- / .row -->
    </section><!-- / .container -->
  </div><!-- / .gray-bg -->

 
  
  


  <!-- ========== CTA - Newsletter Signup ========== -->

  
  <!-- ========== Shop Layout - (Top Rated Product) ========== -->

  



  <!-- ========== Contact ========== -->

  <section id="contact" class="section contact-1">
    
    <header class="sec-heading">
      <h2>Contactez nous</h2>
      <span class="subheading">Vous avez une question ?</span>
    </header>
    
    <div class="contact-wrapper">
      <!-- Map -->
     <div id="map-canvas" class="gmap map-boxed"></div> 

      <!-- Show Info Button -->
      <div class="show-info-link">
        <a href="#" class="show-info"><i class="fa fa-info"></i><h6></h6></a>
      </div>

      <div class="container">
        <div class="row ws-m">

          <!-- Address Info -->
          <div class="col-xs-offset-1 col-xs-11 col-md-offset-2 col-md-6 contact-info-wrapper">
            <address>
              <div class="row">

                <!-- Phone -->
                <div class="col-sm-6 address-group">
                  <span>Téléphone</span>
                  <a href="#">+225 07 08 000 789</a>
                  <a href="#">+225 07 74 747 430 </a>
                </div>

                <!-- Address -->
                <div class="col-sm-5 address-group">
                  <span>Addresse Postale</span>
                  <p>BP 374 Sikensi (Côte d'Ivoire)</p>
                </div>

              </div><!-- / .row -->

              <div class="row">

                <!-- Email -->
                <div class="col-sm-6 address-group">
                  <span>Email</span>
        
                  <a href="mailto:kacou.philippe@gmail.com" target="_blank">kacou.philippe@gmail.com</a>
                </div>

                <!-- Hours -->
                <!-- <div class="col-sm-5 address-group">
                  <span>Open Hours</span>
                  <p>Mon-Fri: 9am-5pm</p>
                  <p>Sat: 10am-1pm</p>
                </div> -->

              </div><!-- / .row -->

              <!-- Show Map Button -->
              <!-- <div class="row show-map-link">
                <a href="#" class="show-map"><span class="icon-map-pin"></span>Show on map</a>
              </div> / .row -->
            </address>
          </div><!-- / .contact-info-wrapper -->
        </div><!-- / .row -->
        
        <!-- Contact Form -->
        <div class="row">
          <form action="" method="POST" id="contact-form-1" class="form-ajax">
            <div class="col-md-offset-2 col-md-4 wow fadeInUp" data-wow-duration="1s">

              <!-- Name -->
              <div class="form-group">
                <input type="text" name="name" id="name-contact-1" class="form-control validate-locally" placeholder="Entrer votre nom">
                <label for="name-contact-1">Nom</label>
                <span class="pull-right alert-error"></span>
              </div>

              <!-- Email -->
              <div class="form-group">
                <input type="email" name="email" id="email-contact-1" class="form-control validate-locally" placeholder="Entrer votre email">
                <label for="email-contact-1">Email</label>
                <span class="pull-right alert-error"></span>
              </div>

            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">

              <!-- Message -->
              <div class="form-group">
                <textarea name="message" id="message-contact-1" class="form-control" rows="5" placeholder="Votre message"></textarea>
                <label for="message-contact-1">Message</label>
              </div>
              <div>
                <input type="submit" class="btn pull-right" value="Envoyez">
              </div>

              <!-- Ajax Message -->
              <div class="ajax-message col-md-12 no-gap"></div>

            </div><!-- / .col-md-4 -->

          </form>
        </div><!-- / .row -->
      </div><!-- / .container -->
    </div><!-- / .contact-wrapper -->
  </section><!-- / .contact-1 -->


{% endblock content %} 